*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

:focus {
  outline: none;
}

.content {
  display: flex;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  width: 711px;
  height: 456px;
  margin-top: 78px;
}
.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  gap: 40px;
  margin-top: auto;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

.search-form__pseudo-checkbox {
  width: 15px;
  height: 15px;
  margin-left: 1px;
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 9px;
  padding-left: 2px;
  appearance: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  width: 100%;
  height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  background-color: #1b1919;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__submit-button {
  margin-top: auto;
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__fieldset {
  border: none;
}
.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

input[placeholder] {
  width: 100%;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #ffffffb2;
  background-color: #1b1919;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content__card-link {
  display: block;
}

.content__list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 534px;
}

.title {
  margin-bottom: 26px;
  padding-top: 5px;
  color: #fff;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  height: 298px;
  overflow-y: scroll;
}

/*Chrome thin scrollbar*/
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border: transparent;
  border-radius: 20px;
  background-color: rgba(155, 155, 155, 0.5);
}

.content__video-card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 398px;
}

.content__list-item {
  margin: 3px;
}

.content__video-card-thumbnail {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.content__list-item:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__list-item a {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.more-button {
  width: 399px;
  height: 34px;
}

.preloader {
  z-index: 1;
}